{% extends"layout.html" %}
{% block body %}
    <br>
    <div class="card mb-3" style="background-color: #fffefd;"  >
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="InputHolidate">日にちを入力しよう！</label>
                    <input type="date" class="form-control" id="InputHolidate" name=holi_date>
                </div>
                <div class="form-group">
                    <label for="InputHolitext">それはどんな日？</label>
                    <input type="text" class="form-control" id="InputHolitext" name=holi_text>
                </div>
                <div class="btn-group">
                    <button type="submit" formaction="{{ url_for('result') }}" class="btn btn-secondary" style="border-radius: 50px; padding: 7px 10px 7px 10px;">新規登録・更新</button>
                    <button type="submit" formaction="{{ url_for('delete_holiday') }}" class="btn btn-danger" style="margin-left:5px; border-radius: 50px; padding: 7px 10px 7px 10px;">削除</button>
                </div>
            </form>
        </div>
    </div>
    <form action="{{ url_for('list') }}">
        <button type="submit" class="btn" style="background-color: #072b61; color: #fffefd;">一覧出力</button>
    </form>
{% endblock %}