<head>
  <!DOCTYPE html>
<title>Flask Blog</title>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>

<body style="background-color: #000000;color : #ffffff;">
  <div class="container">
    <nav class="navbar" style="background-color: #000000;color : #ffffff;">
      <a class="navbar-brand" href="{{ url_for('user_movies') }}" style="color: #E50914; font-family: fantasy;">NETFLASK</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="border-color: #999999; stroke: #ffffff; stroke-width: 1000px;"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">
          {% if not session.user_logged_in and not session.editor_logged_in %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}" style="color: #ffffff";>ログイン</a>
          </li>
          {% else %}
            {% if not session.editor_logged_in %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_mylist') }}" style="color: #ffffff;">マイリスト</a>
             </li>
             {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}" style="color: #ffffff;">ログアウト</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
  
    <div class="blog-body">{% block body %}{% endblock %}</div>
  </div>
  
</body>

