{% extends "layout.html" %}
{% block body %}

<div style="width:73%; padding-top: 50px; margin: 0 auto;">
    {% for message in get_flashed_messages() %}
    <div>
        {{ message }}
    </div>
{% endfor %}
    <button onclick="history.back ()" type="submit" class="bg-indigo-950 hover:bg-indigo-700 text-whight font-semibold py-2 px-4 border border-indigo-950 shadowhover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500" style="margin-top: 50px; font-family: 'Jaro',sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; border-radius:50px;">Back Home</button>
</div>



{% endblock %}