{% extends "layout.html" %}
{% block body %}

<div class="blog-body mx-auto">
    <form action="{{url_for('add_entry')}}" method=post class=add-entry>

        <div class="form-group">
            <input type="text" id="InputTitle" name=title placeholder="Title" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="form-group">
            <textarea placeholder="text here"  name=text id="InputText" rows="3" class="textarea textarea-bordered textarea-lg w-full max-w-xs" ></textarea>
        </div>
        <div class="form-group">
            <select name="status" class="select w-full max-w-xs">
                <option disabled selected>Select your status</option>
                <option>Happy</option>
                <option>Sad</option>
                <option>Scream</option>
                <option>Surprise</option>
                <option>Huh</option>
                <option>Great</option>
              </select>
        </div>
        <div class="form-group flex justify-end my-5">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
</div>


{% endblock %}