<!DOCTYPE html>
<head>
  <title>Flask Blog</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #f9fcfb;">
  <div class="container">
    <nav class="navbar navbar-expand-lg" style="background-color: #2f454f;>
    <a class="navbar-brand" href="#">
      <a class="navbar-brand" href="{{ url_for('input') }}" style="color :#f9fcfb;">給与計算アプリ</a>
    </nav>
    <div class="container">
      <div class="card mx-auto mt-5" style="width:auto;">
        <div class="card-body">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-info" role="alert">
            {{ message }}
          </div>
      {% endfor %}
      <div class="calc-body">
        {% block body %}{% endblock %}
      </div>
        </div>
      </div>
    </div>
</body>