{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('update_entry',id=entry.id) }}" method=post class=add-entry>
    <div class="form-group">
        <label for = "InputTitle">タイトル</label>
        <input type="text" class="form-control" id="InputTitle" name=title value={{entry.title}}>
    </div>
    <div class="form-group">
        <label for = "Inputtext">あらすじ</label>
        <textarea class="form-control" id="Inputtext" name=text rows="3">
            {{ movie.text|safe }}
        </textarea>
    </div>
    <div class="form-group">
        <label for = "Inputtext">公開期限</label>
        <textarea class="form-control" id="Inputtext" name=text rows="3">
            {{ movie.limit_date|safe }}
        </textarea>
    </div>
    <button type="submit" class="btn btn-primary">更新</button>
</form>
{% endblock %}