{% extends "layout.html" %}
{% block body %}
    {% for movie in entriesHTML %}
        <div class="card">
            <a class="display-inline-block" 
            style="display: inline-block;
            width: 150px;
            padding: 10px 0;
            text-decoration: none;
            text-align: center;
            color: #fff;
            background-color: #000;"
            href="{{ url_for('show_entry',id=entry.id)}}"> {{movie_title}} </a>
        </div>
    {% else %}
        作品がありません。
    {% endfor %}
    <div class="btn-group">
        <form action="{{ url_for('editor_new') }}" method="GET">
            <button type="submit" class="btn btn-secondary">新規作品登録</button>
        </form>
    </div>

{% endblock %}