{% extends "layout.html" %}
{% block body %}
<!-- 投稿の表示 -->
<br>
<div class="card">
    <div class="card-body" style="padding-left: 10px;">
        <h2>{{ entry.title }}</h2>
        <br>
        {{ entry.text }}
        <br><br>
        投稿日時:{{ entry.created_at}}
        <br><br>
    </div>
</div>
<br>
<!-- コメント編集の開始 -->
<form action="{{ url_for('update_comment', id=entryid, cid=cid)  }}", method="post" class="add-entry">
    <div class="form-group">
        <label for="InputText">本文</label>
        <textarea type="text" class="form-control" id="InputText" name="ctext" rows="3">{{ comment.text | safe }}</textarea>
    </div>
    <button type="submit" class="btn">更新</button>
</form>
<form action="{{ url_for('show_entry', id=entryid) }}" method="GET">
    <button type="button" class="btn" style="background-color: #072b61; color: white;">戻る</button>
</form>
{% endblock %}