<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Blog</title>

    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" type="text/css">
    <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<style>
    /* body {
        background-color: #f5f5f5;
    } */
</style>
<body>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" href="/">Cat Blog</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        {% if  not session.logged_in %}
        <li><a href="{{url_for('login')}}">Login</a></li>
        {% else %}
        <li><a href="{{url_for('new_entry')}}">New</a></li>

        <li><a href="{{url_for('logout')}}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
      {% for message in get_flashed_messages() %}
      <div>
          <div role="alert" class="alert">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span>{{message}}</span>
          </div>
      </div>
      {% endfor %}
      <div class="blog-body flex flex-col w-full">
          {% block body %}{% endblock %}
      </div>
</body>
</html>