@charset "UTF-8";

body{
    background-color: #dae5f2;
}
.container{
    background-color: #072b61;
}

.navbar-brand{
    color: #dae5f2;
}

.nav-item{
    color: #dae5f2;
}

.btn{
    background-color: #072b61; 
    color: #dae5f2;
}

